services:

  datadog-agent:
    image: registry.datadoghq.com/agent:latest
    container_name: griddog-datadog
    restart: unless-stopped
    pid: host
{% if inventory_hostname in groups['app'] %}
    networks:
      - griddog-network
    ports:
      - "8126:8126/tcp"
      - "8125:8125/udp"
{% else %}
    network_mode: host
{% endif %}
    environment:
      - DD_API_KEY={{ dd_api_key }}
      - DD_HOSTNAME={{ inventory_hostname }}
      - DD_ENV={{ dd_env }}
      - DD_LOGS_ENABLED=true
      - DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
      - DD_PROCESS_AGENT_ENABLED=true
      - DD_CONTAINER_LABELS_AS_TAGS={"my.custom.label.team":"team"}
      - DD_CONTAINER_EXCLUDE_LOGS=name:griddog-datadog
      - DD_TAGS=group:griddog
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
      - DD_TRACE_SAMPLING_RULES='[{"service": "go-backend-vm", "sample_rate": 1}]'
{% if inventory_hostname in groups['databases'] %}
      - DD_LOGS_CONFIG_AUTO_MULTI_LINE_ENABLE_DATETIME_DETECTION=true
      - DD_LOGS_CONFIG_AUTO_MULTI_LINE_ENABLE_JSON_DETECTION=true
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /opt/datadog-agent/run:/opt/datadog-agent/run:rw
{% if inventory_hostname in groups['databases'] %}
      - /var/log/postgresql:/var/log/postgresql:ro
{% endif %}
    labels:
      com.datadoghq.ad.logs: '[{"source": "docker", "service": "datadog-agent", "env": "{{ dd_env }}", "version": "griddog-1.0"}]'

{% if inventory_hostname in groups['app'] %}
networks:
  griddog-network:
    external: true
    name: griddog_network
{% endif %}