[defaults]
inventory         = inventory.ini
remote_user       = ubuntu
private_key_file  = ~/.ssh/griddog-keypair.pem
host_key_checking = False
stdout_callback   = default
result_format     = yaml

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
